<div class="outer">
  <app-filters-bar
    [(filteredData)]="filteredData"
    [completeData]="completeData"
  ></app-filters-bar>
  <h3>{{ filteredData.length }} requests</h3>
  <table mat-table [dataSource]="filteredData" class="mat-elevation-z9">
    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef>User Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef>Subject</th>
      <td mat-cell *matCellDef="let element">{{ element.subject }}</td>
    </ng-container>

    <ng-container matColumnDef="customerSatisfaction">
      <th mat-header-cell *matHeaderCellDef>Customer Satisfaction</th>
      <td mat-cell *matCellDef="let element">
        {{ element.customerSatisfaction }}%
      </td>
    </ng-container>

    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef>Priority</th>
      <td mat-cell *matCellDef="let element">
        <div class="priority">
          <svg height="10" width="10">
            <circle
              cx="5"
              cy="5"
              r="5"
              [attr.fill]="getImageColor(element.priority)"
            />
          </svg>
          {{ element.priority }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">{{ element.status }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
