<div class="outer">
  <ng-container *ngFor="let filter of filters">
    <span *ngIf="filter.isActive" class="dynamic-filter">
      <mat-select
        *ngIf="filter.type === 'select'; else elseBlock"
        [placeholder]="filter.name"
        [(value)]="filter.selectedOption"
        (valueChange)="filterDidChange()"
      >
        <mat-option *ngFor="let option of filter?.options" [value]="option">{{
          option.name
        }}</mat-option>
      </mat-select>
      <ng-template #elseBlock>
        <input
          (keyup)="inputChanged($event)"
          matInput
          placeholder="Type to search..."
        />
      </ng-template>
      <button (click)="disableFilter(filter)" mat-icon-button color="warn">
        <mat-icon>not_interested</mat-icon>
      </button>
    </span>
  </ng-container>
  <button
    [disabled]="checkIfInactiveFilters()"
    (click)="openDialog()"
    mat-raised-button
    color="primary"
  >
    Add filter
  </button>
</div>
