<div class="outer">
  <mat-select [(value)]="selected" (valueChange)="filterDidChange('status')">
    <mat-option value="all">All status</mat-option>
    <mat-option value="pending">Pending</mat-option>
    <mat-option value="solved">Solved</mat-option>
    <mat-option value="open">Open</mat-option>
  </mat-select>
  <ng-container *ngFor="let filter of filters">
    <span *ngIf="filter.isActive" class="dynamic-filter">
      <mat-select
        *ngIf="filter.type === 'select'; else elseBlock"
        [placeholder]="filter.name"
      >
        <mat-option>empty for now</mat-option>
      </mat-select>
      <ng-template #elseBlock>
        <input matInput placeholder="Type to search..." />
      </ng-template>
      <button (click)="disableFilter(filter)" mat-icon-button color="warn">
        <mat-icon>not_interested</mat-icon>
      </button>
    </span>
  </ng-container>
  <button
    [disabled]="checkIfInactiveFilters()"
    (click)="openDialog()"
    mat-raised-button
    color="primary"
  >
    Add filter
  </button>
</div>
